.filter-content {
    border-radius: 5px;
    flex-basis: 250px;

    display: flex;
}

.filter-content select {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--navs);
    border: none;
    color: var(--texts);
    box-shadow: 0px 0px 3px var(--shadow);
}

option {
    padding: 2rem;
    margin: 5px 0;
}