<div class="card">
    <img src="https://i.pinimg.com/originals/d7/dc/b6/d7dcb663eb9bdc303168f78dc3f7ab7c.png" alt="bandera">
    <div class="data">
        <h3 class="title">Perú</h3>
        <div class="detail">
            <div class="item">
                <span class="subtitle">Population: </span> <span>81777900</span>
            </div>
            <div class="item">
                <span class="subtitle">Region: </span> <span>Americas</span>
            </div>
            <div class="item">
                <span class="subtitle">Capital: </span> <span>Lima</span>
            </div>
        </div>
    </div>
</div>