<div class="card">
    <img src="{{ country.flags.png }}" alt="bandera" (click)="gotocountry()">
    <div class="data">
        <h3 class="title">{{ country.name.common }}</h3>
        <div class="detail">
            <div class="item">
                <span class="subtitle">Population: </span>
                <span>{{ country.population | number: '1.0-0' }}</span>
            </div>
            <div class="item">
                <span class="subtitle">Region: </span>
                <span>{{ country.region }}</span>
            </div>
            <div class="item">
                <span class="subtitle">Capital: </span>
                <span>
                    {{
                    country.capital!=undefined ? country.capital[0]: ''
                    }}
                </span>
            </div>
        </div>
    </div>
</div>