.container {
    display: flex;
    flex-direction: column;
    outline: 1px solid blue;
    gap: 10px;
    flex-wrap: wrap;
}

.container main {
    width: 90%;
    margin: 0px auto;
    max-width: 1440px;

    background-color: var(--background);
    color: var(--texts);
}