.search-content {
    /* border: 1px solid blue; */
    border-radius: 5px;
    background-color: var(--navs);
    width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 2rem;
}

.search {
    /* border: 1px solid green; */
    flex-grow: 1;
    padding: 1rem;
    border-radius: 5px;
    list-style: none;
    border: none;
    outline: none;
    background-color: var(--navs);
    color: var(--texts);
}