* {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --texts: hsl(200, 15%, 8%);
    --inputs: hsl(0, 0%, 52%);
    --background: hsl(0, 0%, 98%);
    --elements: hsl(0, 0%, 100%);
    --navs: hsl(0, 0%, 100%);
    /* --shadow: rgba(36, 34, 34, 0.3); */
    --shadow: hsl(209, 23%, 22%);

    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlue: hsl(207, 26%, 17%);
    --VeryDarkBlueLight: hsl(200, 15%, 8%);
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --WhiteDark: hsl(0, 0%, 100%);
}

body {
    font-family: 'Nunito Sans';
    font-size: 18px;
    background-color: var(--background);
    color: var(--texts);
}